@charset "ISO-8859-1";
.main
{
  background-color: #CCC;
}

#jeu table
{
  border-collapse: collapse;
  width : max-content;
  height : 80vh;
  width:50vw;
}

#jeu td
{
  border : 1px solid black;
  text-align : center;
}

#jeu
{
  display: flex;
  flex-direction: row;
	width:max-content;
	margin:auto;
}

select#Option
{
	background-color:white;
	margin-left:20px;
	width:10em;
	height:2em;
	font-weight:700;
	border-color:transparent;
	cursor:pointer;
	border-radius:10px;
	box-shadow:0 7px 0 #CCC;
	outline:0;
	font-size:1vw;
  text-align: center;
  margin-top:0.5vw;
}
select#Option:active
{
	box-shadow:none
}
select#Option:hover
{
	background-color:#ccc
}

option
{
  background-color:white;
  border-radius:20px;
}

#ContentTop
{
  display: flex;
  flex-direction: row;
  padding-bottom: 2vw;
  padding-top:2vw;
  background-color: rgb(74,117,44);
  width:51vw;
  margin: auto;
  border-radius:10px;
}

#Flag
{
  display: flex;
  flex-direction: row;
  margin-left:7vw;
}

#nbBombes
{
  margin-left:1vw;
  font-size:3vw;
  font-weight: bold;
  color:white;
  height:3vw;
  width:3vw;
}
div#Flag.Flag img
{
  width:2vw;
  height: 2vw;
  background-color: rgb(255,255,255);
}

#Timer
{
  font-size:2vw;
  font-weight: bold;
  margin: auto;
  margin-left:1vw;
  color:white;
}

#ImageTimer
{
  margin-left:11vw;
  background-image: url("../images/Timer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 3vw;
  height: 3vw;
}

#ImageFlag
{
  margin-left:5vw;
  background-image: url("../images/drapeaux.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 3vw;
  height: 3vw;
}


/*********************************************************************************/
*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  width: 500px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-Content {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top:15vw;
}

.modal-Top
{
  background-image: url("../images/lose_screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 15vw;
  height: 20vh;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.modal-Top1
{
  margin-left:3vw;
  margin-right:2vw;
  margin-top:1vw;
}
.modal-Top2
{
  margin-top:1vw;
}

.modal-Top2 img
{
  height: 64px;
  width:64px;
}

.modal-Content .close-button {
  background: #4a752c;
  width: 15vw;
  height: 8vh;
  margin-top: 1vw;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 1vw;
  text-align: center;
  user-select: none;
  cursor: pointer;
  background-image: url("../images/retry.png");
  background-repeat: no-repeat;
  background-position-x:4vw;
  background-position-y: center;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#End
{
  display: none;
}

div.EndFirst
{
  font-size: 2vw;
  color:white;

}

/*::::::::::::::::::::*/

@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:2vw;
  text-align:center;
  height:10vh;
  width:18vw;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
